<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhr.mapper.JoblevelMapper">
    <resultMap id="BaseResultMap" type="com.myhr.model.JobLevel">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="titleLevel" property="titleLevel" jdbcType="CHAR"></result>
        <result column="createDate" property="createDate" jdbcType="TIMESTAMP"></result>
        <result column="enabled" property="enabled" jdbcType="BIT"></result>
    </resultMap>


    <select id="selectJobLevels" resultMap="BaseResultMap">
        select *
        from joblevel
    </select>

    <insert id="insertSelective" parameterType="com.myhr.model.JobLevel">
        insert into joblevel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="titleLevel != null">
                titleLevel,
            </if>
            <if test="createDate != null">
                createDate,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
        </trim>
        <trim suffix=")" prefix="values (" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=BIGINT},
            </if>
            <if test="name != null and name != ''">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="titleLevel != null">
                #{titleLevel, jdbcType=CHAR},
            </if>
            <if test="createDate != null">
                #{createDate, jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                #{enabled, jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="Long">
        delete
        from joblevel
        where id = #{id}
    </delete>

    <delete id="deleteByIds">
        delete from joblevel where id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.myhr.model.JobLevel">
        update joblevel
        <set>
            <if test="name != null and name != ''">
                name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="titleLevel != null">
                titleLevel = #{titleLevel, jdbcType=CHAR},
            </if>
            <if test="createDate != null">
                createDate = #{createDate, jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                enabled = #{enabled, jdbcType=BIT},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>